*{
    margin: 10px;
}

h1{
    font-size: 3em;
    margin: 20px;
    color: rgb(71, 209, 97);
    border: 5px green solid;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.496);
}

body{
    background: rgb(202, 254, 202);
    color: green;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

.list-display{
    background-color: rgb(112, 254, 138);
    align-items: center;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: 5px green solid;
}

.list-display>p{
    font-size: 1.2em;
}

.delete{
    padding: 20px;
}
